#                             VVVVVV  minimum `pixi` version
"$schema" = "https://pixi.sh/v0.59.0/schema/manifest/schema.json"

[workspace]
name = "staged-recipes"
description = "The entry point to conda-forge"
version = "0.1.0"
license = "BSD-3-Clause"
license-file = "LICENSE.txt"
authors = ["@conda-forge/core"]
channels = ["conda-forge"]
platforms = [
    "linux-64", "linux-aarch64", "osx-64", "osx-arm64", "win-64"
    # TODO: add here and below in `feature.win` when possible
    # "win-arm64"
]

[feature.python.dependencies]
python = "3.12.*"

[feature.build.dependencies]
conda = ">=25.9.0"
conda-libmamba-solver = ">=24.9.0"
conda-build = ">=25.3.1"
conda-index = ">=0.3.0"
conda-forge-ci-setup = ">=4.9.3,<5.0"
conda-forge-pinning = "*"
frozendict = "*"
networkx = "2.4.*"
rattler-build-conda-compat = ">=1.2.0,<2.0.0a0"


[feature.linux]
# The linux feature runs on every platform that can run Docker.
platforms = ["linux-64", "linux-aarch64", "osx-64", "osx-arm64", "win-64"]
[feature.linux.tasks.build-linux]
description = "build for Linux inside a docker container"
cmd = "python build-locally.py --filter 'linux*'"

# The osx env will run conda-build directly on the machine.
[feature.osx]
platforms = ["osx-64", "osx-arm64"]
[feature.osx.tasks.build-osx]
description = "build directly on a MacOS host machine"
cmd = "python build-locally.py --filter 'osx*'"
[feature.osx.tasks.build-osx.env]
CONDA_BLD_PATH = "$PIXI_PROJECT_ROOT/build_artifacts"
MINIFORGE_HOME = "$CONDA_PREFIX"
OSX_SDK_DIR = "$PIXI_PROJECT_ROOT/.pixi/macOS-SDKs"

# The windows env will run conda-build directly on the machine.
[feature.win]
platforms = ["win-64"]
[feature.win.tasks.build-win]
description = "build directly on a Windows host machine"
cmd = "python build-locally.py --filter 'win*'"
[feature.win.tasks.build-win.env]
CONDA_BLD_PATH = "$PIXI_PROJECT_ROOT/build_artifacts"
MINIFORGE_HOME = "$CONDA_PREFIX"

[feature.grayskull.dependencies]
grayskull = ">=2.7.3"
[feature.grayskull.tasks.pypi]
description = "generate a recipe for a PyPI package name with `grayskull`"
cmd = "cd recipes && grayskull pypi --strict-conda-forge"
[feature.grayskull.tasks.cran]
description = "generates a recipe for a CRAN package name with `grayskull`"
cmd = "cd recipes && grayskull cran --strict-conda-forge"

[feature.conda-smithy.dependencies]
conda-smithy = ">=3.44.6,<4"
shellcheck = "*"
[feature.conda-smithy.tasks.lint]
description = "validate all recipes with `conda-smithy`"
cmd = "conda-smithy recipe-lint --conda-forge recipes/*"

[environments]
# linux only needs Python to run build-locally.py. Everything else happens in Docker.
linux = ["linux", "python"]
# osx and win do run natively on the machine, so we need the build deps too
osx = ["osx", "python", "build"]
win = ["win", "python", "build"]
build = ["python", "build"]
grayskull = ["python", "grayskull"]
conda-smithy = ["python", "conda-smithy"]
local-recipes = ["python", "build", "grayskull", "conda-smithy", "local-recipes"]

[feature.local-recipes.activation]
scripts = ["scripts/load-env.sh"]

[feature.local-recipes.dependencies]
#[feature.python.dependencies]
python = "3.12.*"
##[feature.build.dependencies]
conda = ">=25.9.0"
conda-libmamba-solver = ">=24.9.0"
conda-build = ">=25.3.1"
conda-index = ">=0.3.0"
conda-forge-ci-setup = ">=4.9.3,<5.0"
conda-forge-pinning = "*"
frozendict = "*"
networkx = "2.4.*"
rattler-build-conda-compat = ">=1.2.0,<2.0.0a0"
##[feature.grayskull.dependencies]
grayskull = ">=2.7.3"
##[feature.conda-smithy.dependencies]
conda-smithy = ">=3.44.6,<4"
shellcheck = "*"
#### Unleash Pixi - Added to ensure single a build pack with pixi will work for cookiecutters, plain python, conda, nodejs, rust, c, c++ code.
## For use with CookieCutters
cookiecutter = ">=2.6.0,<3"
cruft = ">=2.16.0,<3"
jinja2-ospath = ">=0.3.0,<1"
## For Building Plain Python Projects
# cibuildwheel = ">=3.2.1" # Dependency bashlex Failed for platform 'linux-aarch64'
pip = ">=25.3"
setuptools = "<81"
setuptools-scm = ">=9.2.2"
hatchling = ">=1.27.0"
python-build = ">=1.3.0"
twine = ">=6.2.0"
uv = ">=0.9.11"
wheel = ">=0.45.1"
## For Building Javsscript and nodejs Projects
nodejs = ">=24.4.1,<24.10"  # Pin to LTS version
pnpm = ">=10.23.0,<11"
## Extensions for Conda and Conda-build Projects
conda-lock = ">=3.0.4,<4"
conda-pack = ">=0.8.1,<1"
conda-tree = ">=1.1.1,<2"
feedrattler = ">=0.3.14,<1"
### Extensions Pixi - enabling all Python, C,C++, Rust, CMake Projects
pixi = ">=0.59.0,<1"
rattler-build = ">=0.51.0,<1"
pixi-build-rattler-build = ">=0.3.4,<1"
pixi-build-cmake = ">=0.3.4,<1"
pixi-build-python = ">=0.4.1,<1"
pixi-build-rust = ">=0.4.1,<1"
pixi-diff = ">=0.1.3,<1"
pixi-inject = ">=0.1.1,<1"
pixi-install-to-prefix = ">=0.1.2,<1"
pixi-kernel = ">=0.7.0,<1"
pixi-outdated = ">=0.2.1,<1"
pixi-pack = ">=0.7.5,<1"
pixi-pycharm = ">=0.0.10,<1"
pixi-unpack = ">=0.7.5,<1"
py-rattler = ">=0.17.0,<1"
py-rattler-build = ">=0.47.0,<1"
duckdb = ">=1.4.2,<2"
pandas = ">=2.3.3,<3"
polars = ">=1.35.2,<2"
pyarrow = ">=22.0.0,<100"
pyarrow-all = ">=22.0.0,<100"
ibis-duckdb = ">=11.0.0,<100"
ibis-polars = ">=11.0.0,<100"
ibis-sqlite = ">=11.0.0,<100"
ibis-postgres = ">=11.0.0,<100"
ibis-mssql = ">=11.0.0,<100"
ibis-oracle = ">=11.0.0,<100"
pydantic = ">=2.12.4,<3"
ruff = ">=0.14.6,<0.15"
pyright = ">=1.1.407,<2"
mypy = ">=1.18.2,<2"
pyrefly = ">=0.42.3,<1"
pytest = ">=9.0.1,<100"
pytest-mock = ">=3.15.1,<4"
pytest-cov = ">=7.0.0,<8"
pytest-xdist = ">=3.8.0,<4"
markitdown = ">=0.1.3,<1"
playwright = ">=1.56.1,<2"
mcp = ">=1.22.0,<2"
fastmcp = ">=2.13.1,<3"
fasta2a = ">=0.6.0,<1"
django-mcp-server = ">=0.5.7,<1"
#acp-sdk  1.0.3 # NOT FOUND - Archived
#django-mcp 0.3.1 # NOT FOUND - Archived
#mcp-django 0.12.0 # NOT FOUND - To Add
#acp-mcp 0.4.2 # NOT FOUND - Archived
#acp-mcp-server 0.0.5 # NOT FOUND - To Add
#a2a-sdk = ">=0.3.10,<1" # NOT FOUND - To Add
#agntcy-acp = ">=1.5.2,<2" # NOT FOUND - To Add
#python-a2a = ">=0.5.10,<1" # NOT FOUND - To Add
yamllint = ">=1.37.1,<2"
taplo = ">=0.10.0,<0.11"
moto = ">=5.1.17,<6"
nbqa = ">=1.9.0,<2"
sqlfluff = ">=3.5.0,<4"
go-sops = ">=3.11.0,<4"
age = ">=1.2.1,<2"
yarn = ">=4.11.0,<5"

[dependencies]
#[feature.python.dependencies]
python = "3.12.*"
pixi = ">=0.59.0,<1"
conda = ">=25.9.1"
pip = ">=25.3"
uv = ">=0.9.11"

#[pypi-dependencies]
#daft = ">=0.6.8"
#pyarrow= ">=22.0.0"
#ibis-framework = { version = ">=11.0.0", extras = ["datafusion", "bigquery", "duckdb"] }
#
#[target.linux-64.dependencies]
#pyarrow-all = ">=22.0.0"
#
#[target.linux-64.pypi-dependencies]
#daft = ">=0.6.8"
#pyarrow = ">=22.0.0"
#
#[target.win-64.dependencies]
#pyarrow-all = ">=22.0.0"
#m2-bash = ">=4.3.42,<5"
#posix = ">=1.0.0,<2"
#
#[target.win-64.pypi-dependencies]
#daft = ">=0.6.8"
#pyarrow = ">=22.0.0"
#
#[target.osx-64.dependencies]
#pyarrow-all = ">=22.0.0"
#
#[target.osx-64.pypi-dependencies]
#daft = ">=0.6.8"
#pyarrow = ">=22.0.0"
#
#[target.osx-arm64.dependencies]
#pyarrow-all = ">=22.0.0"
#
#[target.osx-arm64.pypi-dependencies]
#daft = ">=0.6.8"
#pyarrow = ">=22.0.0"
